<meta http-equiiv=refresh content="6; url=/">

<h1 style="margin:60px 0 40px 35%">Welcome <%=value%></h1>
<img src="/output.jpg" alt="" style="height: 400px;width:500px ;margin: 10px 0 40px 35%;">

<script type="text/javascript">
    setTimeout("window.location='url'",5000);
    </script>
